:root {
  font-size: 20px;
  font-family: sans-serif;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  letter-spacing: 1.2em;
  border-bottom: 3px solid rgb(115, 115, 114); 
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

h2 {
  font-size: 1.5em;
  margin: 15px 0 5px;
}

p {
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: normal;
}

.skyblue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203);
}

#basic p {
  font-weight: bold;
}
